@import '../../../Styles/colors';

.container {
    margin: 2rem 0;
    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0 1rem;
        label {
            width: 20%;
        }
        input, select {
            width: 80%;
            padding: 0.5rem 1rem;
        }
    }
    form {
        button {
            margin: 1rem 0;
            padding:  0.5rem 1rem;
            width: 100%;
            border-radius: 0px;
        }
    }
    .address {
        margin: 2rem 0 0;
    }
    .btns {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}