<div class="container">
    <div class="content">
        <h2 *ngIf="!post">Créer un article</h2>
        <h2 *ngIf="post">Edition de l'article</h2>
        <hr>
        <form #form="ngForm" (ngSubmit)="save(form)">
            <div>
                <label for="title">Titre</label>
                <input type="text" name="title" id="title" value="{{post?.title}}" required ngModel>
            </div>

            <div>
                <label for="tag">Catégorie</label>
                <select name="tag" id="tag" multiple ngModel>
                    <option [value]="0">none</option>
                    <option *ngFor="let tag of tags" [value]="tag.id">{{ tag.name }}</option>
                </select>
            </div>

            <div>
                <label for="content">Contenu</label>
                <textarea name="content" id="content" cols="30" rows="10" required [(ngModel)]="content" value="{{post?.content}}"></textarea>
            </div>

            <button>Enregistrer</button>
        </form>
    </div>

    <div class="insight">
        <app-post-content [data]="content"></app-post-content>
    </div>
</div>
