@import '../Styles/utils';
@import '../Styles/colors';

header {
    width: 100%;
    font-size: calc(0.25vw + 0.4vh + 1vmin);
    nav {
        @include flex(row, space-between);
        padding: 2em;
        color: #fff;
        h1 {
            cursor: pointer;
        }
        span {
            cursor: pointer;
            transition: 300ms ease-in-out;
            border-radius: 50px;
            padding: 1rem;
            &:hover {
                background-color: #fff;
                color: $primary;
            }
        }
    }
}

footer {
    font-size: calc(0.25vw + 0.4vh + 1vmin);
    padding: 2em;
    position: sticky;
    @include flex(row, space-between);
    color: #fff;
    width: 100%;
}