<header>
  <nav>
    <h1 (click)="goTo('')">GAMING BLOG</h1>
    <div *ngIf="!_authService.isLogged; else connected">
      <span (click)="goTo('auth')">Connexion</span>
    </div>
    <ng-template #connected>
      <div>
        <i (click)="goTo('posts')" class="fa-solid fa-newspaper"></i>
        <i class="fa-solid fa-user"></i>
        <i (click)="_authService.logout()" class="fa-solid fa-arrow-right-from-bracket"></i>
      </div>
    </ng-template>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <span>MODULE WEB4 : Proposé par Abdou et Naoufel</span>
  <span>Année 2023-2024</span>
</footer>