<div class="container" *ngIf="user">
    <div class="content">
        <aside>
            <button class="focused" (click)="changeBy(HTMLposts, HTMLprofil, $event)">
                <i class="fa-solid fa-address-card"></i>
                Profil
            </button>
            <button (click)="changeBy(HTMLprofil, HTMLposts, $event)">
                <i class="fa-sharp fa-solid fa-newspaper"></i>
                Articles
            </button>
            
        </aside>

        <div class="focusContent">
            <div class="profil pageFocus" #HTMLprofil>
                <h2>MON PROFIL</h2>
                <hr>
                <form #form="ngForm" (ngSubmit)="editUser(form)">
                    <div>
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" value="{{user.username}}" name="username" id="username" [(ngModel)]="username">
                    </div>
                    <div>
                        <label for="role">Rôle</label>
                        <input type="text" [value]="user.role" disabled>
                    </div>
                    <button type="submit">Modifier le profil</button>
                </form>
            </div>

            <div class="posts" #HTMLposts>
                <h2>MES ARTICLES</h2>
                <hr>
                <app-table [data]="posts" [index]="['id', 'title']" [service]="_postService" [routable]="'post'"></app-table>
                <ng-template #postEmpty>
                    <p>Vous n'avez aucun article.</p>
                </ng-template>
                <button (click)="goTo('post/new')" class="btnAction">Ajouter un article</button>
            </div>
        </div>
    </div>
</div>