<div class="user">
    <div *ngIf="user">
        <h2>Utilisateur</h2>
        <div>
            <label for="username">Nom d'utilisateur : </label>
            <span id="username">{{user.username}}</span>
        </div>
        <div>
            <label for="role">Rôle : </label>
            <span id="role">{{user.role}}</span>
        </div>
        <hr>
        <h2>Adresse(s)</h2>
        <table *ngFor="let address of addresses">
            <tr>
                <td>Rue</td>
                <td>{{ address.road }}</td>
            </tr>
            <tr>
                <td>Code Postal</td>
                <td>{{ address.postalCode }}</td>
            </tr>
            <tr>
                <td>Ville</td>
                <td>{{ address.city }}</td>
            </tr>
            <tr>
                <td>Pays</td>
                <td>{{ address.country }}</td>
            </tr>
            <hr>
        </table>
    </div>
</div>