$bg-primary: linear-gradient(115.94deg, #0A0871 -3.55%, #010104 100.42%);
$primary: #12046A;
$primary-light: #2f1bb3;
$info: #DA5B00;
$info-light: #ed7824;
$danger: #6f0505;
$danger-light: #a11212;
$muted: #959595;
$bg-input: #574D92;