@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500&display=swap');

@mixin flex($direction, $justify, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin text-style($color, $size, $letterSpacing: normal) {
    color: $color;
    font-size: $size;
    letter-spacing: $letterSpacing;
}