@import './colors';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@400;500;600;700&display=swap');

@mixin flex($direction, $justify, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin text-style($color, $size, $letterSpacing: normal) {
    color: $color;
    font-size: $size;
    letter-spacing: $letterSpacing;
}

%tag {
    padding: 0.5rem 1.5rem;
    background-color: $info;
    display: inline;
    margin: 0 2rem 0 0;
    color: #fff;
}

%button {
    padding: 1em 1.5em;
    border-radius: 0px;
    background-color: $primary;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-family: 'Poppins';
    transition: 400ms ease-in-out;
    &:hover {
        background-color: $primary-light;
    }
}