@import '../../../Styles/colors';
@import '../../../Styles/utils';

.d {
    @include flex(row, space-around);
}
.presentation_container{
    @include flex(column, space-between);
    font-family: 'Poppins';
    //margin-left: 0.2rem;
    //width: 40rem;
    p{
        @include text-style(white, 1rem);
        font-family: 'Poppins';
    }
    img{
        width: 12rem;
    }
}

.log_container{
    background-color: $primary;
    padding:1.5rem;
    border-radius: 0.2rem;
}

form{
    @include flex(column, space-between, flex-start);
    
}

input{
    border-radius: 0.5rem;
    width: 14rem;
    padding: 0.5rem
}

button{
    font-family: 'Poppins';
    margin-top: 1rem;
    background: linear-gradient(180deg, #410A79 0%, rgba(129, 64, 193, 0.79) 100%);
    border-radius: 0.3rem;
    color:white;
    width: 14rem;
    height: 2rem;
    border:none
}

label{
    font-family: 'Poppins';
    margin: 0.2rem 0rem;
    @include text-style(white, 0.7rem)
}
.title {
    margin-bottom: 2rem;
    font-family: 'Poppins';
    @include text-style(white, 1.3rem) 
}
.register{
    font-family: 'Poppins';
    margin: 1rem 3.5rem;
    @include text-style(rgba(188, 161, 20, 100), 0.6rem)
}