@import '../../../Styles/utils';

.container {
    position: absolute;
    color: #fff;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: auto;
    .content {
        background-color: rgba($color: #fff, $alpha: 0.1);
        border-radius: 10px;
        padding: 5em 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins';
        h2 {
            font-size: calc(0.25vw + 0.5vh + 3vmin);
            letter-spacing: 3px;
            color: $info;
            margin: 0 0 1em;
        }
        p {
            font-style: italic;
        }
        span {
            font-size: 180px;
            color: $bg-input;
        }
        button {
            @extend %button;
            &:hover{
                background-color: $info;
            }
        }
    }
}