@import '../../../Styles/colors';
@import '../../../Styles/utils';

.unauthorize {
    width: 100%;
    height: 70vh;
    @include flex(row, space-around);
    span {
        color: rgb(134, 134, 255);
        font-size: 150px;
        font-weight: 700;
        font-family: 'Poppins';
    }
    div {
        width: 50%;
        text-align: center;
    }
}