/* You can add global styles to this file, and also import other style files */

@import './Styles/colors';
@import './Styles/utils';

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $bg-primary no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto';
    min-height: 100vh;
}