<div class="page" *ngIf="post;else notFound">
    <div class="post">
        <h2>{{ post.title }}</h2>
        <img src="https://us.123rf.com/450wm/sdmix/sdmix1803/sdmix180300248/96848899-abstrait-d%C3%A9grad%C3%A9-de-couleur-grise-illustration-vectorielle.jpg" alt="">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente eaque vitae amet. Quo mollitia illo nulla provident soluta, rem sequi corrupti, perferendis reiciendis voluptatem temporibus quod eaque blanditiis. Illum iure, consequatur sequi sit amet eius ullam deserunt aspernatur veniam! Porro ratione, amet voluptatem facere debitis praesentium beatae enim minima dolores!</p>
        <div class="tags">
            <span>Aventure</span>
            <span>Action</span>
        </div>
    </div>

    <aside>
        <h3>A voir aussi :</h3>

        <div class="postAside">
            <img src="https://us.123rf.com/450wm/sdmix/sdmix1803/sdmix180300248/96848899-abstrait-d%C3%A9grad%C3%A9-de-couleur-grise-illustration-vectorielle.jpg" alt="">
            <h4>Comment faire des bébés ?</h4>
        </div>

        <div class="postAside">
            <img src="https://us.123rf.com/450wm/sdmix/sdmix1803/sdmix180300248/96848899-abstrait-d%C3%A9grad%C3%A9-de-couleur-grise-illustration-vectorielle.jpg" alt="">
            <h4>On prank nos petits frères ! ça tourne mal</h4>
        </div>

        <div class="postAside">
            <img src="https://us.123rf.com/450wm/sdmix/sdmix1803/sdmix180300248/96848899-abstrait-d%C3%A9grad%C3%A9-de-couleur-grise-illustration-vectorielle.jpg" alt="">
            <h4>Il saute du 1er étage pour sauver un lapin</h4>
        </div>
    </aside>
</div>

<div class="comments">
    <h3>Commentaires :</h3>

    <div class="comment">
        <div class="name">
            <span>utilsateur45 : </span>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quae aspernatur distinctio, iure, ex cumque qui veniam culpa sapiente mollitia, quam maiores voluptate enim architecto?</p>
    </div>
</div>

<ng-template #notFound>
    Le post n'existe pas
</ng-template>
