<div class="container" *ngIf="post;else notFound"> 
    <div class="post">
        <div class="content">
            <h2>{{ post.title }}</h2>
            <img src="https://static.fnac-static.com/multimedia/Images/FD/Comete/135576/CCP_IMG_1200x800/1778074.jpg" alt="">
            <app-post-content [data]="post.content"></app-post-content>
            <div class="tags">
                <span class="tag" *ngFor="let posttag of post.postTags">{{ posttag.tag.name }}</span>
            </div>
        </div>
        <aside>
            <h3>A voir aussi :</h3>

            <div class="postAside" *ngFor="let post of fakePosts">
                <img [src]="generateImg(post.id)" alt="">
                <h4>{{ post.title }}</h4>
            </div>
        </aside>
    </div>
    <div class="comments">
        <h3>Commentaires :</h3>

        <form #form="ngForm" (ngSubmit)="addComment(form)">
            <textarea name="myComment" id="myComment" [(ngModel)]="textareaContent" required></textarea>
            <button type="button" (click)="openModal(modal)">Évaluer</button>

            <div class="modal" id="modal" #modal>
                <div class="modal_container">
                    <div class="modal_content">
                        <button type="button" class="modal_close" (click)="closeModal(modal)">x</button>
                        <p>{{ textareaContent }}</p>
                        <div class="stars" #stars id="stars">
                            <i (click)="rate(1)" class="fa fa-star gold"></i>
                            <i (click)="rate(2)" class="fa fa-star gold"></i>
                            <i (click)="rate(3)" class="fa fa-star gold"></i>
                            <i (click)="rate(4)" class="fa fa-star"></i>
                            <i (click)="rate(5)" class="fa fa-star"></i>
                        </div>
                        <button type="submit">POSTER</button>
                    </div>
                </div>
            </div>
        </form>
        
        <div class="comment" *ngFor="let comment of comments">
            <div class="name">
                <span>Utilisateur{{ comment.userId }} : </span>
                <div class="rating">
                    <span [innerHTML]="scored(comment.value)"></span>
                </div>
                <button class="deleteComment" *ngIf="user && comment.userId === user.id" (click)="openModalDelete(modal_delete)">
                    x
                </button>

                <div class="modal" id="modal_delete" #modal_delete>
                    <div class="modal_container">
                        <div class="modal_content">
                            <button type="button" class="modal_close" (click)="closeModalDelete(modal_delete)">x</button>
                            <p>Êtes vous sûr de vouloir supprimer ce commentaire ?</p>
                            <button class="btnDelete" (click)="deleteComment(comment)">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
    
            <p *ngIf="comment.content !== null">{{ comment.content }}</p>
        </div>
    </div>
</div>

<ng-template #notFound>
    Le post n'existe pas
</ng-template>