@import '../../../../Styles/utils';
@import '../../../../Styles/colors';

.page {
    @include flex(row, space-between);
    gap: 50px;
    .post {
        padding: 6em 3em;
        position: relative;
        font-family: 'Poppins';
        h2 {
            font-weight: 700;
            font-size: 32px;
            color: #fff;
            margin: 0 0 1em;
        }
        img {
            width: 800px;
            margin: 0 0 2em;
        }
        p {
            font-size: 14px;
            font-weight: 500;
            color: #fff;
        }

        .tags {
            position: absolute;
            top: 30px;
            left: 50px;
            span {
                @extend %tag;
            }
        }
    }

    aside {
        margin: 2em;
        border-left: 1px solid #fff;
        padding: 0 0 0 2em;
        h3 {
            color: #fff;
            margin: 0 0 2em;
        }
        .postAside {
            margin: 0 0 1em;
            img {
                width: 300px;
                margin: 0.5em 0;
            }
            h4 {
                color: #fff;
            }
        }
    }
}

.comment {
    margin: 3rem 0;

}